html {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(238, 234, 226, 0.556) 50%, rgb(238, 234, 226) 100%), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding: 3%;
}

/* NAV BAR */
nav {
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    text-align: right;
    padding: 0.5%;
}

nav a {
    font-size: 1.125em;
    padding: 1%;
    color: #000000;
    text-decoration: none;
    background: rgba(238, 234, 226, 0.398);
}

nav a:hover {	
    background: rgba(238, 234, 226, 0.754);
    color: rgb(29, 111, 15);
    
}

nav a.selected {
    background: rgba(238, 234, 226, 0.754);
    color: rgb(24, 80, 14);
    text-decoration: none;
}
    
nav a.selected:hover {
    background: rgba(238, 234, 226, 0.754);
    color: rgb(29, 111, 15);
}

/* REST OF HEADER */
#header-elements {
    font-family: 'Acme', sans-serif;
    color: black;
    font-size: x-large;
    padding: 1.5%;
    background-color: rgba(238, 234, 226, 0.754);
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

/* BODY STUFF */
body {
    font-family: 'Rubik', sans-serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    /* background: linear-gradient(to bottom, rgb(238, 234, 226) 10%, rgb(238, 234, 226) 80%, white); */
}

#content {
    background-color: rgba(238, 234, 226, 0.754);
    padding: 1.5%;
}

#content-elements {
    padding: 10px;
}

#content-title {
    font-size: 120%;
    font-weight: bold;
}

#results {
    background-color: rgb(238, 234, 226);
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}


/* FOOTER STUFF */
footer {
    /* background-color: rgb(238, 234, 226); */
    text-align: center;
    padding: 2%;
}

#name-footer {
    font-size: medium;
}

#api-footer {
    font-size: small;
}

footer a {
    text-decoration: none;
    color: rgb(24, 80, 14);

}

footer a:visited {
    color: rgb(24, 80, 14);
}


footer a:hover {
    text-decoration: underline;
}

/* BUTTONS */
.btn-primary, .btn-primary:visited, .btn-primary:active  {

    background-color: rgb(29, 111, 15);
    border-color: rgb(29, 111, 15);
}

.btn-primary:focus, .btn-primary:active:focus {
    background-color: rgb(29, 111, 15);
    border-color: rgb(29, 111, 15);
    box-shadow: 0 0 0 0.2rem rgb(148, 197, 139);
}


.btn-primary:hover {
    background-color: rgb(24, 80, 14);
    border-color: rgb(24, 80, 14);
}